# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.local
VERCEL_ENVIRONMENT
Readmeth.md

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

SUPABASE_SETUP.md
SIGIN_TROUBLESHOOTING.md
check_all_data.sql
check_posts_data.sql
check_posts_structure.sql   
create_admin_and_posts.sql
create_like_functions.sql
create_admin_user.sql
create_statuses_table.sql
fix_admin_posts_access.sql
fix_admin_posts_access.sql
fix_posts_likes_rls.sql
fix_posts_select_with_likes.sql
fix_rls_for_public_access.sql
fix_statuses_foreign_key.sql
fix_tables.sql
fix_users_rls.sql
fixed_posts_insert.sql
insert_sample_data.sql
quick_fix_posts_rls.sql
schema.sql
setup_statuses.sql
setup_storage.sql
setup_users_rls.sql
use_existing_users.sql
fix_posts_rls_final.sql